<table class=tutornames>
  <tr>
    <th>Tutors</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tutors.each do |tutor| %>
  <tr>
    <td><%= link_to tutor.name, tutor.name, :class => 'tutorname' %></td>
    <td class=delete><%= link_to 'Delete', tutor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tutor', new_tutor_path %> | <%= link_to 'Add/Remove Shifts', shift_times_path %> | <%= link_to 'View All', admin_availabilities_path %>
