<%= javascript_include_tag "select_table" %>

<table class="selectable table-bordered table">
  <thead>
    <tr>
      <th>Monday</th>
      <th>Tuesday</th>
      <th>Wednesday</th>
      <th>Thursday</th>
      <th>Friday</th>
      <th>Saturday</th>
      <th>Sunday</th>
    </tr>
  </thead>
  <tbody>
    <% for i in 0...@max_length do %>
    <tr>
      <% @availabilitys_by_day.each_value do |times| %>
      <% time = times.pop
	 if !time.nil? %>
      <td class="<%=time.available%> option" id="<%=time.id%>"><%= 
								  time.time_of_day.to_time.strftime("%l:%M %p")
								  %></td>
      <% else %>
      <td></td>
      <% end %>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>

<button id="pref" class="btn btn-success">Preferred</button>
<button id="can" class="btn btn-primary">Available</button>
<button id="no" class="btn btn-danger">Unavailable</button>
<%= link_to 'Choose Preferred Number of Hours', edit_tutor_path(@tutor.id), :class => 'arrrgputitatthebottom'%>
<%= link_to 'Home', tutors_path, :class => 'arrrgputitatthebottom'%>
