<%= form_for(@shift_time) do |f| %>
  <% if @shift_time.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shift_time.errors.count, "error") %> prohibited this shift_time from being saved:</h2>

      <ul>
      <% @shift_time.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.select(:day_of_week, %w[Monday Tuesday Wednesday Thursday Friday Saturday Sunday], {}, {})%>
  </div>
  <div class="field">
    <%= f.time_select :time_of_day, :minute_step => 30 %>
  </div>
  <div class="actions">
    <%= f.submit 'Submit'%>
  </div>
<% end %>
